#a{
    background-color: aqua;
    text-align: center;
}

#b{
    background-color: darkcyan;
    text-align: center;
}

#c{
    background-color: brown;
    text-align: center;
}

#d{
    background-color: orange;
    text-align: center;
}

#e{
    background-color: red;
    text-align: center;
}

#f{
    background-color: purple;
    text-align: center;
}

#g{
    background-color: grey;
    text-align: center;
}

#h{
    background-color: green;
    text-align: center;
}

#i{
    background-color: greenyellow;    
    text-align: center;
}