<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Book App</title>
        <link rel="stylesheet" type="text/css" href="./styles/reset.css"/>
        <link rel="stylesheet" type="text/css" href="./styles/base.css"/>
    </head>
    <body>
        <main>
            <div class="main-container">
            <h1>Your Books</h1>
            <h2>Number of books: <%= books.length %></h2>
            <div class="books-container">
                <% books.forEach((book, index) => { %>
                    <%- include('./books/detail', { book: book }) %>
                <% }) %>
            </div>
        </main>
    </body>
</html>